.root{
    -fx-font-size: 12;  
    -fx-background: rgb(246,246,246);
}
#viewReportsBtn
{
    -fx-font-size:15px;  
    -fx-background-color: #b9cefa; 
    -fx-padding-top:20px;
    -fx-cursor: hand;
}
#viewReportsBtn:hover
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#editMenuBtn
{
    -fx-font-size:15px; 
    -fx-background-color: #b9cefa;
    -fx-cursor: hand;
}
#editMenuBtn:hover,#Button_addBtn:hover,#editItemBtnBox:hover,#deleteItemBox:hover
{ 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#TITLEBOX
{
    -fx-text-alignment: CENTER;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}
#items
{
    -fx-font-size: 10pt;  
}
#itemBox
{
    -fx-background-color: #caccf9; 
    -fx-border-style: solid;-fx-border-color:#e5f7f9;
    -fx-border-width:2;
}
#editItemBtn,#deleteItem
{
    -fx-font-size:11px;  
    -fx-background-color: #b9cefa; 
    -fx-padding-top:20px;
    -fx-cursor: hand;
}   
#editItemBtnBox,#deleteItemBox
{
    -fx-background-color: #b9cefa; 
    -fx-padding-top:20px;  
    -fx-cursor: hand;    
    -fx-border-style: solid;-fx-border-color:#e5f7f9;
    -fx-border-width: 1;
}
#addItemBtn
{
    -fx-font-size:12px;
    -fx-padding:5px;
}
.button
{
    -fx-background-color: #b9cefa; 
    -fx-cursor: hand;
    -fx-font-size:12px;
    -fx-border-style: solid;-fx-border-color:#e5f7f9;
    -fx-border-width: 1;
}
.button:hover
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    
}