.root{
    -fx-font-size: 12;   
     
    -fx-background-color: radial-gradient(ellipse farthest-corner at center, #F9D698 0%, #D49437 100%);
}
#viewReportsBtn
{
    -fx-font-size:15px;  
    -fx-background-color: #5b3101; 
    -fx-padding-top:20px;
    -fx-text-fill:#fff;
    -fx-cursor: hand;
}
#viewReportsBtn:hover
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#editMenuBtn
{
    -fx-font-size:15px; 
    -fx-background-color: #5b3101;
    -fx-cursor: hand;
    -fx-text-fill:#fff;
}
#editMenuBtn:hover,#Button_addBtn:hover,#editItemBtnBox:hover,#deleteItemBox:hover
{ 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#TITLEBOX
{
    -fx-text-alignment: CENTER;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}
#items
{
    -fx-font-size: 10pt;  
}
#itemBox
{ 
    -fx-background-color: #EADEB4;
    -fx-border-style: solid;-fx-border-color:#eaccaa;
    -fx-border-width:2;
}
#editItemBtn,#deleteItem
{
    -fx-font-size:11px;  
    -fx-text-fill:#fff;
    -fx-background-color: #5b3101; 
    -fx-padding-top:20px;
    -fx-cursor: hand;
}   
#editItemBtnBox,#deleteItemBox
{
    -fx-background-color: #5b3101; 
    -fx-padding-top:20px;  
    -fx-cursor: hand;    
    -fx-border-style: solid;-fx-border-color:#eaccaa;
    -fx-border-width: 1;
    -fx-text-fill:#fff;
}
#addItemBtn
{
    -fx-font-size:12px;
    -fx-padding:5px;
}
.button
{
    -fx-background-color: #5b3101; 
    -fx-cursor: hand;
    -fx-font-size:12px;
    -fx-text-fill:#fff;
    -fx-border-style: solid;-fx-border-color:#eaccaa;
    -fx-border-width: 1;
}
.button:hover
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    
}
#typeLabel
{ 
    -fx-font-size: 25px; 
    -fx-padding:5;
}
#typeLabelBox
{
    -fx-background-color: #EADEB4;
}
#menuTitleBox 
{
    -fx-font-family:'serif'; 
    -fx-font-size:25;
    -fx-font-weight:bold;
    -fx-background-image: url('../images/agilecafetitle.png') no-repeat;
}

#TitleLbl
{
    -fx-font-family:'serif'; 
    -fx-font-size:25;
    -fx-font-weight:bold;
}

#totalLbl
{
    -fx-font-family:'serif'; 
    -fx-font-size:15;
    -fx-font-weight:bold;
}

#mainPane
{
    -fx-background-color: beige;
}